<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Mobiphone" 
           Manufacturer="Mobiphone" 
           Version="1.0.0.0"
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="Mobiphone" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Mobiphone" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main executable -->
      <Component Id="Mobiphone.exe">
        <File Source="..\bin\Release\net8.0-windows\win-x64\publish\Mobiphone.exe" KeyPath="yes">
          <Shortcut Id="StartMenuShortcut" 
                    Directory="ProgramMenuFolder" 
                    Name="Mobiphone"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="Mobiphone.exe" 
                    IconIndex="0"
                    Advertise="yes" />
        </File>
      </Component>

      <!-- Runtime dependencies will be included with publish -->
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Icon Id="Mobiphone.exe" SourceFile="..\bin\Release\net8.0-windows\win-x64\publish\Mobiphone.exe" />
  </Fragment>
</Wix>
