<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="ExcelToSQLite" 
           Manufacturer="Mobiphone" 
           Version="1.0.0.0"
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Use WixUI for installation dialog -->
    <ui:WixUI Id="WixUI_Minimal" />
    
    <Feature Id="ProductFeature" Title="ExcelToSQLite" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ExcelToSQLite" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main executable -->
      <Component Id="ExcelToSQLite.exe">
        <File Source="..\bin\Release\net8.0-windows\win-x64\publish\ExcelToSQLite.exe" KeyPath="yes">
          <Shortcut Id="StartMenuShortcut" 
                    Directory="ProgramMenuFolder" 
                    Name="ExcelToSQLite"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="ExcelToSQLite.exe" 
                    IconIndex="0"
                    Advertise="yes" />
        </File>
      </Component>

      <!-- All other files -->
      <Component Id="AllPublishFiles">
        <File Source="..\bin\Release\net8.0-windows\win-x64\publish\*.*" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Icon Id="ExcelToSQLite.exe" SourceFile="..\bin\Release\net8.0-windows\win-x64\publish\ExcelToSQLite.exe" />
  </Fragment>
</Wix>
